<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>101589148647-a2r4erngf2ou7deslr3tl85ifqc0nd85.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.101589148647-a2r4erngf2ou7deslr3tl85ifqc0nd85</string>
	<key>API_KEY</key>
	<string>AIzaSyBdpuwpnBKE_dI3-p88zdV8FXaFtraMxzw</string>
	<key>GCM_SENDER_ID</key>
	<string>101589148647</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.ustanbul.ustanbulapp</string>
	<key>PROJECT_ID</key>
	<string>ustanbul-1560531396275</string>
	<key>STORAGE_BUCKET</key>
	<string>ustanbul-1560531396275.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:101589148647:ios:0895dfb95beab512</string>
	<key>DATABASE_URL</key>
	<string>https://ustanbul-1560531396275.firebaseio.com</string>
</dict>
</plist>